# INTRODUCTION TO FAST-F1 PACKAGE

In [1]:
import fastf1
from fastf1.core import Telemetry

import logging
# Get the FastF1 logger and set its level to ERROR
fastf1_logger = logging.getLogger('fastf1')
fastf1_logger.setLevel(logging.ERROR)

fastf1.get_session(year, gp, identifier=None, *, backend=None, force_ergast=False)
* session name abbreviation: 'FP1', 'FP2', 'FP3', 'Q', 'S', 'SS', 'R'

* full session name: 'Practice 1', 'Practice 2', 'Practice 3', 'Sprint', 'Sprint Shootout', 'Qualifying', 'Race'; provided names will be normalized, so that the name is case-insensitive

* number of the session: 1, 2, 3, 4, 5

In [2]:
session = fastf1.get_session(2023, 'Bahrain','Race')
session.event['EventName']

'Bahrain Grand Prix'

# Some Session Attributes

In [3]:
session.load()
session.results

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,...,CountryCode,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points
1,1,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,3671C6,red_bull,Max,Verstappen,Max Verstappen,...,NED,1.0,1,1.0,NaT,NaT,NaT,0 days 01:33:56.736000,Finished,25.0
11,11,S PEREZ,PER,perez,Red Bull Racing,3671C6,red_bull,Sergio,Perez,Sergio Perez,...,MEX,2.0,2,2.0,NaT,NaT,NaT,0 days 00:00:11.987000,Finished,18.0
14,14,F ALONSO,ALO,alonso,Aston Martin,358C75,aston_martin,Fernando,Alonso,Fernando Alonso,...,ESP,3.0,3,5.0,NaT,NaT,NaT,0 days 00:00:38.637000,Finished,15.0
55,55,C SAINZ,SAI,sainz,Ferrari,F91536,ferrari,Carlos,Sainz,Carlos Sainz,...,ESP,4.0,4,4.0,NaT,NaT,NaT,0 days 00:00:48.052000,Finished,12.0
44,44,L HAMILTON,HAM,hamilton,Mercedes,6CD3BF,mercedes,Lewis,Hamilton,Lewis Hamilton,...,GBR,5.0,5,7.0,NaT,NaT,NaT,0 days 00:00:50.977000,Finished,10.0
18,18,L STROLL,STR,stroll,Aston Martin,358C75,aston_martin,Lance,Stroll,Lance Stroll,...,CAN,6.0,6,8.0,NaT,NaT,NaT,0 days 00:00:54.502000,Finished,8.0
63,63,G RUSSELL,RUS,russell,Mercedes,6CD3BF,mercedes,George,Russell,George Russell,...,GBR,7.0,7,6.0,NaT,NaT,NaT,0 days 00:00:55.873000,Finished,6.0
77,77,V BOTTAS,BOT,bottas,Alfa Romeo,C92D4B,alfa,Valtteri,Bottas,Valtteri Bottas,...,FIN,8.0,8,12.0,NaT,NaT,NaT,0 days 00:01:12.647000,Finished,4.0
10,10,P GASLY,GAS,gasly,Alpine,2293D1,alpine,Pierre,Gasly,Pierre Gasly,...,FRA,9.0,9,20.0,NaT,NaT,NaT,0 days 00:01:13.753000,Finished,2.0
23,23,A ALBON,ALB,albon,Williams,37BEDD,williams,Alexander,Albon,Alexander Albon,...,THA,10.0,10,15.0,NaT,NaT,NaT,0 days 00:01:29.774000,Finished,1.0
22,22,Y TSUNODA,TSU,tsunoda,AlphaTauri,5E8FAA,alphatauri,Yuki,Tsunoda,Yuki Tsunoda,...,JPN,11.0,11,14.0,NaT,NaT,NaT,0 days 00:01:30.870000,Finished,0.0
2,2,L SARGEANT,SAR,sargeant,Williams,37BEDD,williams,Logan,Sargeant,Logan Sargeant,...,USA,12.0,12,16.0,NaT,NaT,NaT,NaT,+1 Lap,0.0
20,20,K MAGNUSSEN,MAG,kevin_magnussen,Haas F1 Team,B6BABD,haas,Kevin,Magnussen,Kevin Magnussen,...,DEN,13.0,13,17.0,NaT,NaT,NaT,NaT,+1 Lap,0.0
21,21,N DE VRIES,DEV,de_vries,AlphaTauri,5E8FAA,alphatauri,Nyck,De Vries,Nyck De Vries,...,NED,14.0,14,19.0,NaT,NaT,NaT,NaT,+1 Lap,0.0
27,27,N HULKENBERG,HUL,hulkenberg,Haas F1 Team,B6BABD,haas,Nico,Hulkenberg,Nico Hulkenberg,...,GER,15.0,15,10.0,NaT,NaT,NaT,NaT,+1 Lap,0.0
24,24,G ZHOU,ZHO,zhou,Alfa Romeo,C92D4B,alfa,Guanyu,Zhou,Guanyu Zhou,...,CHN,16.0,16,13.0,NaT,NaT,NaT,NaT,+1 Lap,0.0
4,4,L NORRIS,NOR,norris,McLaren,F58020,mclaren,Lando,Norris,Lando Norris,...,GBR,17.0,17,11.0,NaT,NaT,NaT,NaT,+2 Laps,0.0
31,31,E OCON,OCO,ocon,Alpine,2293D1,alpine,Esteban,Ocon,Esteban Ocon,...,FRA,18.0,R,9.0,NaT,NaT,NaT,NaT,Mechanical,0.0
16,16,C LECLERC,LEC,leclerc,Ferrari,F91536,ferrari,Charles,Leclerc,Charles Leclerc,...,MON,19.0,R,3.0,NaT,NaT,NaT,NaT,Engine,0.0
81,81,O PIASTRI,PIA,piastri,McLaren,F58020,mclaren,Oscar,Piastri,Oscar Piastri,...,AUS,20.0,R,18.0,NaT,NaT,NaT,NaT,Electrical,0.0

In [ ]:
driver_number = session.drivers
print(driver_number)

In [ ]:
# Issued by race control officials during the event.
session.race_control_messages

In [ ]:
session.weather_data

## CAR DATA (TELEMETRY)
	
Dictionary of car telemetry (Speed, RPM, etc.) as received from the api by car number (where car number is a string and the telemetry is an instance of Telemetry)

Car data Refers to telemetry data collected directly from the car's sensors and systems. Essential for analyzing the performance and behavior of the car itself.

* RPM: Revolutions Per Minute, the engine speed of the car's motor.
* Speed: Refers to the velocity of the car(km/h).
* nGear: Gear number the car is currently in.
* Throttle: The percentage of throttle pedal pressure applied by the driver, typically ranging from 0% (no throttle) to 100% (full throttle).
* Brake: Indicates whether the brakes are being applied (True) or not (False).
* DRS: Drag Reduction System, an aerodynamic device that reduces drag and increases speed on straights. It indicates whether the DRS is activated or not.
* Source: How the telemetry data was generated or obtained, such as directly from the car's sensors (car), positional data (pos), or through interpolation (interpolated).

In [ ]:
session.car_data

## POS DATA (TELEMETRY)

Dictionary of car position data as received from the api by car number (where car number is a string and the telemetry is an instance of Telemetry)

Data (car's coordinates (X, Y, Z) on the track, status (on-track or off-track) etc) related to the position and status of the car on the track. Crucial for tracking the car's movement on the circuit, understanding its trajectory, adherence to the racing line, and monitoring any deviations from the track boundaries.

* Status: Status of the car's position, on track (OnTrack) or off track (OffTrack).

* X: The horizontal position of the car on the track, often measured in tenths of a meter.

* Y: The lateral position of the car on the track, typically measured in tenths of a meter.

* Z: The vertical position of the car relative to the track surface, usually measured in tenths of a meter.

* Source: Specifies how the positional data was obtained or generated, such as directly from the car's sensors or through interpolation.

In [ ]:
session.pos_data

# LAP

In [4]:
laps = session.laps

## TELEMETRY DATA
Telemetry data for all laps in self

Telemetry data is the result of merging the returned data from get_car_data() and get_pos_data(). This means that telemetry data at least partially contains interpolated values! Telemetry data additionally already has computed channels added (e.g. Distance).

This method is provided for convenience and compatibility reasons. But using it does usually not produce the most accurate possible result. It is recommended to use get_car_data() or get_pos_data() when possible. 


**Telemetry can only be returned if self contains laps of one driver only.**

In [5]:
laps_driver_44 = laps.pick_driver('44')  # Hamilton
telemetry_driver_44 = laps_driver_44.get_telemetry()
print(telemetry_driver_44.columns)
telemetry_driver_44

Index(['Date', 'SessionTime', 'DriverAhead', 'DistanceToDriverAhead', 'Time',
       'RPM', 'Speed', 'nGear', 'Throttle', 'Brake', 'DRS', 'Source',
       'Distance', 'RelativeDistance', 'Status', 'X', 'Y', 'Z'],
      dtype='object')

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z
2,2023-03-05 15:03:38.501,0 days 01:02:36.652000,,0.077778,0 days 00:00:00,8870,0,1,20,False,1,interpolation,0.010890,3.566374e-08,OnTrack,-299.918107,3101.065440,-159.0
3,2023-03-05 15:03:38.611,0 days 01:02:36.762000,,0.077778,0 days 00:00:00.110000,8860,0,1,20,False,1,car,0.000000,0.000000e+00,OnTrack,-299.915026,3101.067904,-159.0
4,2023-03-05 15:03:38.686,0 days 01:02:36.837000,,0.077778,0 days 00:00:00.185000,8690,0,1,20,False,1,pos,-0.017225,-5.640883e-08,OnTrack,-300.000000,3101.000000,-159.0
5,2023-03-05 15:03:38.811,0 days 01:02:36.962000,,0.077778,0 days 00:00:00.310000,8521,0,1,20,False,1,car,0.000000,0.000000e+00,OnTrack,-300.294728,3100.764477,-159.0
6,2023-03-05 15:03:38.946,0 days 01:02:37.097000,,0.077778,0 days 00:00:00.445000,7907,2,1,20,False,1,pos,0.213883,7.004343e-07,OnTrack,-300.000000,3101.000000,-159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42768,2023-03-05 16:38:25.845,0 days 02:37:23.996000,,523.856944,0 days 01:34:47.344000,10933,281,7,100,False,0,pos,305291.563648,9.997854e-01,OnTrack,-406.000000,753.000000,-159.0
42769,2023-03-05 16:38:25.948,0 days 02:37:24.099000,,523.856944,0 days 01:34:47.447000,10540,282,7,100,False,0,car,305299.657222,9.998119e-01,OnTrack,-399.866783,875.361593,-159.0
42770,2023-03-05 16:38:26.045,0 days 02:37:24.196000,,523.856944,0 days 01:34:47.544000,10576,284,7,100,False,0,pos,305307.315216,9.998370e-01,OnTrack,-394.000000,993.000000,-159.0
42771,2023-03-05 16:38:26.389,0 days 02:37:24.540000,,523.856944,0 days 01:34:47.888000,10613,286,8,100,False,0,car,305334.692222,9.999266e-01,OnTrack,-379.601545,1282.968957,-159.0
42772,2023-03-05 16:38:26.504,0 days 02:37:24.655000,,523.856944,0 days 01:34:48.003000,10619,286,8,97,False,0,interpolation,305343.881308,9.999567e-01,OnTrack,-377.017586,1335.638953,-159.0

## CAR DATA
Car data for all laps in self

Slices the car data in Session.car_data using this set of laps and returns the result.

The data returned by this method does not contain computed telemetry channels. The can be added by calling the appropriate add_*() method on the returned telemetry object..

In [6]:
car_driver_44 = laps_driver_44.get_car_data()
print(car_driver_44.columns)
car_driver_44

Index(['Date', 'RPM', 'Speed', 'nGear', 'Throttle', 'Brake', 'DRS', 'Source',
       'Time', 'SessionTime'],
      dtype='object')

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2023-03-05 15:03:38.611,8860,0,1,20,False,1,car,0 days 00:00:00.110000,0 days 01:02:36.762000
1,2023-03-05 15:03:38.811,8521,0,1,20,False,1,car,0 days 00:00:00.310000,0 days 01:02:36.962000
2,2023-03-05 15:03:39.091,6680,8,1,20,False,1,car,0 days 00:00:00.590000,0 days 01:02:37.242000
3,2023-03-05 15:03:39.451,4846,16,1,20,False,1,car,0 days 00:00:00.950000,0 days 01:02:37.602000
4,2023-03-05 15:03:39.691,4955,24,1,20,False,1,car,0 days 00:00:01.190000,0 days 01:02:37.842000
...,...,...,...,...,...,...,...,...,...,...
21156,2023-03-05 16:38:25.188,11464,275,7,100,False,0,car,0 days 01:34:46.687000,0 days 02:37:23.339000
21157,2023-03-05 16:38:25.388,11435,277,7,100,False,0,car,0 days 01:34:46.887000,0 days 02:37:23.539000
21158,2023-03-05 16:38:25.668,11326,280,7,100,False,0,car,0 days 01:34:47.167000,0 days 02:37:23.819000
21159,2023-03-05 16:38:25.948,10540,282,7,100,False,0,car,0 days 01:34:47.447000,0 days 02:37:24.099000
21160,2023-03-05 16:38:26.389,10613,286,8,100,False,0,car,0 days 01:34:47.888000,0 days 02:37:24.540000

# POS DATA
Pos data for all laps in self

In [ ]:
pos_driver_44 = laps_driver_44.get_pos_data()
print(pos_driver_44.columns)
pos_driver_44